.DropDownLanguageMeni{
  margin-top: 10px;
  margin-right: 10px;
}

/*ovo je da se pomocu href-a na neki ID scrool-a smooth*/
html {
  scroll-behavior: smooth;
}

/*  text-align: center;*/

basictekst{
  text-align: center;
}


h1{
  text-align: center;
}

/*za slike unutar teksta na partneri.. takoder responzivni prikaz je stavljen*/
.slikautekstudesno{
  padding-left: 30px;
  width: 30%;
  height: 30%;
}
.slikautekstulijevo{
  padding-right: 30px;
  width: 30%;
  height: 30%;
}

@media screen and (max-width: 600px) {

  .slikautekstudesno{
    padding-left: 30px;
    width: 55%;
    height: 55%;

  }

  .slikautekstulijevo{
    padding-right: 30px;
    width: 55%;
    height: 55%;
  }
}

/*ostalo*/
.SaznajVisePartneri{
    color: #325870;
    text-decoration: underline;
}

.pocetninaslov{
  padding-top: 40px;
}

.footerslikahover{
  margin-left: 30px;
  margin-right: 30px;

}

.footerslikahover:hover{
  margin-left: 30px;
  margin-right: 30px;
  transform: scale(2);
  -webkit-transition: -webkit-transform 1s ease-in-out;
}

.FooterIkone{
  margin-top: 10px;
}

.ikoneheader{
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  line-height: 80%;
}

#pbccolor{
  background-color: #a8a39a;
  opacity: 1;
}

#facebookid{
  padding-left: 20px;
}


.sadrzajporavnanje{
  padding-left: 100px;
  padding-right: 100px;
}

.centarporavnanjetext{
  text-align: center;
}

.proba{
  padding: 0;
}

/*ovo je za razmak izmedu linija teksta*/
.spacer{
  line-height: 85%;
}

/*za mjenjanje kursora kada se dode na sliku*/
.Slikaselekt{
  cursor: pointer;
}


/*sljedece je za slike miniGalerija OD*/
.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  #facebookid{
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/*Za mini galeriju DO*/


/*
Dolje 3 clase se ne koriste ... temp su
 */
#FooterPartneri{
  color: white;
}

#header2{
  color: #ffffff;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 980px) {
  #header2 {
    height: 10rem;
    padding-bottom: 0rem;
  }
}
