.DropDownLanguageMeni{
  margin-top: 10px;
  margin-right: 10px;
}

p{
  text-align: center;
}
h1{
  text-align: center;
}


.footerslikahover{

}

.footerslikahover:hover{
  margin-left: 40px;
  margin-right: 40px;
  transform: scale(2.5);
}

.FooterIkone{
  margin-top: 10px;
}
